body {
	font-family: Arial, Helvetica, sans-serif;
}

.item {
	background-color: #989898;
	font-weight: 501;
}

button {
	color: white;
}

.navbar,
.navbar-nav {
	padding: 0;
}

.nav-item {
	background-color: white;
	border: 1px solid black;
	border-top: none;

}

.nav-item:hover {
	background-color: #343A40;
	color: white;
}

.navbar-dark .navbar-nav .nav-link {
	color: black;
}

@media(min-width: 320px) {
	.row {
		margin-left: 3rem !important;
		margin-right: 3rem !important;
	}

}

@media(min-width:768px) {
	.row {
		margin-left: 0.5rem !important;
		margin-right: 0.5rem !important;
	}

	button {
		display: none;
	}

	.item {
		background-color: #989898;
		border: 10px solid white;
	}
}
